@font-face {
    font-family: 'RexBold';
    src: url('./fonts/RexBold.woff2') format('woff2'),
        url('./fonts/RexBold.ttf') format('truetype'),
        url('./fonts/RexBold.woff') format('woff');
    font-weight: 400;
}
