html {
    // box model
    margin: 0;
    padding: 0;
}

body {
    // typography
    font-size: 18px;
    
    // visual
    overflow-x: hidden;
    background-color: #f9f6f2;
}

* {
    box-sizing: border-box;
}