.button {
    // box model
    margin-left: 25px;
    
    // typography
    color: #191514 !important;
    
    // visual
    border: 1px solid #d5a353 !important;
    cursor: pointer;
    transition: 0.3s ease-in-out all;

    &:hover {
        // typography
        color: #fff !important;

        // visual
        background: #d5a353 !important;
        border-color: #fff !important;
    }
}

.btn-primary {
    // visual
    background-color: #d5a353 !important;
    border: 1px solid #d5a353 !important;
}