.card {
    // box model
    // display: flex;
    max-width: 375px;
    margin-bottom: 3.75rem;
}

.card-columns {
    // justify-content: center !important;
    column-count: 5 !important;

    &--catalog {
        column-count: 3 !important;
    }
}