.dropdown-item {
    // box model
    padding: 0.6rem 1.5rem;
    // typography
    color: white !important;
    font-family: $mainFont;

    &:hover {
        // visual
        background: none;
    }
}

.dropdown-menu {

    &--open {
        // box model
        display: none !important;
    }
}