.site-footer {
    height: 160px;
    // display: flex;
    // align-items: center;
}

.site-footer__row {
    // box model
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;

    &--center {
        justify-content: center;
        background: linear-gradient(45deg, red, blue);
    
    }
    
}

.site-footer__copyright {
    display: block;
    justify-content: center;
    align-items: center;
    color: white;
}